body {
    margin: 0;
    background-color: #333;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline-block;
    position: absolute;
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
    font-size: 50px;
}

.h-2 {
    display: block;
    text-align: center;
    top:50;
}

li {
    text-align: center;
}

.nav-item {
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    width: 80px;
}

.nav {
    display: flex;
    float: right;
    margin: 0
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color:beige;
    text-decoration:none;
    text-align: center;
}

.nav-link {
    text-align: center;
}

ul {
    display: block;
    font-size: 20px;
}

.header-el {
    position: relative;
    height: 100px;
}

main {
    margin: 0 20px 0 20px;
    background-color: #1c1c1c;
    padding: 10px;
    height: 100%;
    font-size: 120%;
}

.error {
    margin-top: 100px;
}

.info {
    width: 50%;
    display: inline-block;
}

.fact-list > li {
    padding: 10px;
}

.img-aurora {
    max-height: 65%;
    width: 30%;
    float: right;
    margin: 1em 3em;
}

@media screen and (max-width: 768px) {
    .info {
        width: 90%;
    }
    main {
        height: 90%;
    }
    .nav {
        display: flex;
        width: 95%;
        align-items: center;
        float: none;
        justify-content: center;
        position: absolute;
        top:115px;
        left:2.5%;
        background-color: #1c1c1c;
    }
    h1 {
        display: inline;
        width: 100%;
    }
    .header-el {
        height: 200px;
    }
    .h-3 {
        text-align: center;
    }
    .img-aurora {
        float: none;
        display: block;
        margin: auto;
        padding: 25px 0;
    }
    ul {
        padding: 0;
    }
}