body {
    margin: 0;
    background-color: #333;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline-block;
    position: absolute;
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
    font-size: 50px;
}

.h-2 {
    display: block;
    text-align: center;
    top:50;
}

.nav-item {
    display: flex;
    padding: 20px 10px;
    text-align: center;
    width: 70px;
}

.nav {
    display: flex;
    float: right;
    margin: 0
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color:beige;
    text-decoration:none;
}

.nav-link {
    text-align: center;
}

ul {
    display: block;
}

.header-el {
    position: relative;
    height: 90px;
}

main {
    margin: 0 20px 0 20px;
    background-color: #1c1c1c;
    padding: 10px;
    height: 700px;
}

.error {
    margin-top: 100px;
}